// credentials.auto.tfvars.example
// Rename this file to `credentials.auto.tfvars` and replace the placeholder values
// with your credentials. 

// DO NOT COMMIT!

civo_token = "<YOUR_CIVO_TOKEN_HERE>"